.announceTypeControlHolder {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 26px;
  border-bottom: 1px solid #D5D5D5;

  .announceTypeBtn {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #9B9B9B;
    margin-right: 70px;
    padding-bottom: 10px;
    white-space: nowrap;
    &::after {
      position: absolute;
      left: 25%;
      bottom: 0;
      width: 0%;
      height: 2px;
      background: transparent;
      content: '';
      transition: all 0.4s ease;
    }
    &.active {
      color: #4E72CA;
      &::after {
        width: 50%;
        background: #4E72CA;
      }
    }
  }

  // Profile page
  &.profilePage {
    margin: 16px 0 0;
    .announceTypeBtn {
      font-size: 17px;
      font-weight: 500;
    }
  }
}