@import "../Fonts/gilroy.css";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  color: #111;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;

  overflow-y: scroll;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #bfbfbf;
  }
}

.loader-animation {
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-family: "Gilroy", sans-serif;
}


// Slick Slider
// Arrows
.slick-arrow {
  &::before {
    content: none;
  }
}

// Announce Category Buttons
$icon-default-bg: #B6CAFB;
$icon-bg-1: #B4E2E1;
$icon-bg-2: #FF9E83;
$icon-bg-3: #F7E233;
$icon-bg-4: #F6DAC2;

.announceCategoryBtn {
  .icon {
    background: $icon-default-bg;
  }
  &-2, &-6 {
    .icon {
      background: $icon-bg-1;
    }
  }
  &-3, &-9 {
    .icon {
      background: $icon-bg-2;
    }
  }
  &-4, &-10 {
    .icon {
      background: $icon-bg-3;
    }
  }
  &-5, &-8 {
    .icon {
      background: $icon-bg-4;
    }
  }
}


// Footer Links > category title
$right-arrow-color-1: #FF5469;
$right-arrow-color-2: #F8E71C;
$right-arrow-color-3: #F5A623;
$right-arrow-color-4: #4A90E2;
$right-arrow-color-5: #50E3C2;
$right-arrow-color-6: #BD10E0;
$right-arrow-color-7: #7ED321;

.categoryTitle {
  &-0, &-2 {
    &::before {
      color: $right-arrow-color-1;
    }
  }
  &-1 {
    &::before {
      color: $right-arrow-color-2;
    }
  }
  &-3 {
    &::before {
      color: $right-arrow-color-3;
    }
  }
  &-4 {
    &::before {
      color: $right-arrow-color-4;
    }
  }
  &-5 {
    &::before {
      color: $right-arrow-color-5;
    }
  }
  &-6 {
    &::before {
      color: $right-arrow-color-6;
    }
  }
  &-7 {
    &::before {
      color: $right-arrow-color-7;
    }
  }
}