.siteHeader {
  padding: 14px 0 16px;
  box-shadow: 12px 4px 24px rgba(0, 0, 0, 0.0647645);
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .lead {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      h2 {
        width: 152px;
        color: #111;
        font-size: 15px;
        font-weight: 700;
        line-height: 17px;
        margin-left: 14px;
      }
    }
    .navLinksHolder {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 70px;
      .navLinks {
        a {
          color: #111;
          font-size: 15px;
          font-weight: 500;
          padding: 12px;
          margin-right: 10px;
          border-bottom: 1px solid transparent;
          transition: all 0.3s ease;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            border-color: #333;
          }
        }
      }
      .siteLanguage {
        button {
          position: relative;
          padding: 5px;
          color: #4a4a4a;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
            &::before {
              position: absolute;
              top: 5px;
              right: 44px;
              height: 16px;
              width: 2px;
              background: #4a4a4a94;
              content: '';
            }
          }
          &:disabled {
            color: #bbb;
            cursor: default;
          }
        }
      }

      // Profile
      .profileHolder {
        position: relative;
        .profileBtn {
          display: flex;
          align-items: center;
          &:hover {
            .userName {
              color: #333;
            }
            .userImg {
              border-color: #333;
            }
          }
          .userName {
            max-width: 120px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #787993;
            font-size: 17px;
            font-weight: 500;
            margin-right: 13px;
            transition: all 0.3s ease;
          }
          .userImg {
            height: 41px;
            width: 41px;
            border: 1px solid #979797;
            border-radius: 50%;
            transition: all 0.3s ease;
          }
        }
        .profileDropdownHolder {
          .profileMenu {
            position: absolute;
            top: 55px;
            left: -60px;
            width: 250px;
            display: none;
            align-items: center;
            flex-direction: column;
            background: #fff;
            border-radius: 8px;
            box-shadow: -2px 10px 24px 8px rgba(0, 0, 0, 0.064);
            overflow: hidden;
            z-index: 10;

            a, button {
              width: 100%;
              text-align: center;
              color: #111;
              font-size: 17px;
              padding: 12px;
              border-bottom: 1px solid #ddd;
              transition: all 0.2s linear;
              &:last-child {
                border: none;
              }
              &:hover {
                background: rgba(0,0,0,0.12);
              }
            }
          }
          .show {
            display: flex;
          }
        }
      }

      // Register
      .register {
        a {
          position: relative;
          padding: 5px;
          font-size: 17px;
          color: #4e72ca;
          font-weight: 700;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
            &::before {
              position: absolute;
              top: 8px;
              right: 127px;
              height: 16px;
              width: 2px;
              background: #4e72ca;
              z-index: -1;
              content: '';
            }
          }
        }
      }
    }
  }
  // Search Section Holder
  .searchHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    .searchForm {
      .inputWrapper {
        border-radius: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #adadad66;
        .categorySelect {
          width: 190px;
          margin-right: 5px;
        }
        .searchLabel {
          input {
            width: 358px;
            font-size: 15px;
            font-weight: 500;
            padding: 13px 24px 14px;
            border: 1px solid #adadad66;
            border-top: none;
            border-bottom: none;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #222;
            }
          }
        }
        .territorySelect {
          width: 220px;
          padding-left: 4px;
          margin-right: 5px;
        }
        .searchBtn {
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          padding: 15px 19px;
          border-radius: 22px;
          background: #19D476;
          transition: all 0.3s ease;
          &:hover {
            background: #19bd6b;
          }
        }
      }
    }
    .addAnnounceLink {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      padding-right: 25px;
      border-radius: 22px;
      background: #19D476;
      transition: all 0.3s ease;
      &:hover {
        background: #19bd6b;
        .plusIcon {
          background: #0fa057;
        }
      }
      .plusIcon {
        font-size: 28px;
        padding: 7px 15px;
        margin-right: 12px;
        border-radius: 22px;
        background: #11B463;
        transition: all 0.3s ease;
      }
    }
  }

  // Profile
  &.profilePage {
    padding-bottom: 0;
  }
  .profileLower {
    .userInfo {
      padding: 38px 0 16px;
      border-bottom: 1px solid rgba(151, 151, 151, 0.3);
      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
          color: #414D6A;
          font-size: 17px;
          font-weight: 700;
        }
        .payment {
          display: flex;
          align-items: center;
          .balance {
            color: #304FFF;
            font-size: 17px;
            font-weight: 500;
            margin-right: 26px;
          }
          .payBtn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px 0 0;
            border: 1px solid #41D481;
            border-radius: 100px 20px 20px 100px;
            transition: all 0.3s ease;
            &:hover {
              color: #fff;
              background: #41D481;
              .plusIcon {
              background: #31b169;
              }
            }
            .plusIcon {
              font-size: 30px;
              font-weight: 300;
              background: #41D481;
              padding: 2px 10px;
              margin-right: 14px;
              border-radius: 50%;
              transition: all 0.1s ease;
            }
            .txt {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}